svg {
  vertical-align: top;
  border: 1px solid #000;
}
.second,
rect {
  transition: all 1s;
}
.second rect {
  fill: #f0f;
  transform-origin: center;
}
.second rect:hover {
  fill: #f00;
  transform: scale(1.2) rotate(90deg);
}